<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzw.micro.wq.mapper.BannerEntityMapper">
    <resultMap id="BaseResultMap" type="com.dzw.micro.wq.model.BannerEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="req" jdbcType="INTEGER" property="req"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , title, url, req, status, link_url, type, create_time, create_user, update_time, update_user
    </sql>

    <sql id="Base_Column_List1">
        url
        , link_url
    </sql>
    <select id="findPageList" resultType="com.dzw.micro.wq.resp.BannerListResp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_banner
        where 1=1
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="type != null">
            and type=#{type}
        </if>
        order by update_time asc
    </select>
    <select id="findOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_banner
        where id = #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from t_banner
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.dzw.micro.wq.model.BannerEntity">
        insert into t_banner (id, title, url,
                              req, status, link_url,
                              type, create_time, create_user,
                              update_time, update_user)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{req,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR},
                #{type,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR},
                #{updateTime,jdbcType=BIGINT}, #{updateUser,jdbcType=VARCHAR})
    </insert>
    <update id="updateById" parameterType="com.dzw.micro.wq.model.BannerEntity">
        update t_banner
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="req != null">
                req = #{req,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="linkUrl != null">
                link_url = #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findPageHomeList" resultType="com.dzw.micro.wq.resp.BannerApiListResp">
        SELECT url,
               link_url as linkUrl,
               type
        FROM t_banner AS a
        WHERE 5 > (SELECT COUNT(*)
                   FROM t_banner AS b
                   WHERE b.`status` = 0
                     and b.type = a.type
                     AND b.update_time > a.update_time)
          and status = 0
        ORDER BY a.type, a.update_time DESC
    </select>
</mapper>