<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzw.micro.wq.mapper.MenuEntityMapper">
    <resultMap id="BaseResultMap" type="com.dzw.micro.wq.model.MenuEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="req" jdbcType="INTEGER" property="req"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, pid, level, req, status, create_time, create_user
    </sql>
    <select id="findOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_menu
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findList" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_menu
        where pid = #{pid}
    </select>

    <select id="findAll" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_menu
        where status = 0
        order by create_time asc
    </select>

    <insert id="insert" parameterType="com.dzw.micro.wq.model.MenuEntity">
        insert into t_menu (id, name, pid,
                            level, req, status,
                            create_time, create_user)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT},
                #{level,jdbcType=INTEGER}, #{req,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
                #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.dzw.micro.wq.model.MenuEntity">
        update t_menu
        set name        = #{name,jdbcType=VARCHAR},
            pid         = #{pid,jdbcType=BIGINT},
            level       = #{level,jdbcType=INTEGER},
            req         = #{req,jdbcType=INTEGER},
            status      = #{status,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=BIGINT},
            create_user = #{createUser,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>