<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzw.micro.wq.mapper.NewsEntityMapper">
    <resultMap id="BaseResultMap" type="com.dzw.micro.wq.model.NewsEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="click_num" jdbcType="INTEGER" property="clickNum"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="cover_pic_url" jdbcType="VARCHAR" property="coverPicUrl"/>
        <result column="is_top" jdbcType="INTEGER" property="isTop"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="publish_time" jdbcType="BIGINT" property="publishTime"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , title, menu_id, menu_name,click_num, link_url, content,cover_pic_url, is_top, type, status, publish_time,
    create_time, create_user, update_time, update_user
    </sql>

    <sql id="Base_Column_List2">
        id
        , title, menu_id,menu_name, click_num, link_url, cover_pic_url, is_top, type, status, publish_time,
    create_time, create_user, update_time, update_user
    </sql>
    <select id="findList" resultType="com.dzw.micro.wq.resp.NewsListResp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from t_news
        where 1=1
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="beginTime != null">
            and publish_time &gt;= {beginTime}
        </if>
        <if test="endTime != null">
            and publish_time &lt;# {endTime}
        </if>
        <if test="menuId != null">
            and menu_id=#{menuId}
        </if>
        <if test="isTop != null">
            and is_top=#{isTop}
        </if>
        order by publish_time desc
    </select>

    <select id="findContentList" resultType="com.dzw.micro.wq.resp.NewsListResp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_news
        where 1=1
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="beginTime != null">
            and publish_time &gt;= {beginTime}
        </if>
        <if test="endTime != null">
            and publish_time &lt;# {endTime}
        </if>
        <if test="menuId != null">
            and menu_id=#{menuId}
        </if>
        <if test="isTop != null">
            and is_top=#{isTop}
        </if>
        order by publish_time desc
    </select>
    <select id="findOneById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_news
        where id = #{id}
    </select>
    <insert id="insert" parameterType="com.dzw.micro.wq.model.NewsEntity">
        insert into t_news (id, title, menu_id, menu_name,
                            click_num, link_url, content, cover_pic_url,
                            is_top, type, status,
                            publish_time, create_time, create_user,
                            update_time, update_user)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{menuId,jdbcType=BIGINT},
                #{menuName,jdbcType=VARCHAR},
                #{clickNum,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
                #{coverPicUrl,jdbcType=VARCHAR},
                #{isTop,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
                #{publishTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{createUser,jdbcType=VARCHAR},
                #{updateTime,jdbcType=BIGINT}, #{updateUser,jdbcType=VARCHAR})
    </insert>
    <update id="updateById" parameterType="com.dzw.micro.wq.model.NewsEntity">
        update t_news
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=BIGINT},
            </if>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="clickNum != null">
                click_num = #{clickNum,jdbcType=INTEGER},
            </if>
            <if test="linkUrl != null">
                link_url = #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="coverPicUrl != null">
                cover_pic_url = #{coverPicUrl,jdbcType=VARCHAR},
            </if>
            <if test="isTop != null">
                is_top = #{isTop,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="addClickNumById" parameterType="java.lang.Long">
        update t_news
        set click_num=click_num + 1
        where id = #{id}
    </update>

    <select id="findPageHomeNewsList" resultType="com.dzw.micro.wq.resp.NewsApiListResp" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2"/>
        FROM t_news AS a
        WHERE 9 > (
        SELECT COUNT(*) FROM t_news AS b
        WHERE b.`status`=0 and b.menu_id = a.menu_id AND b.publish_time>a.publish_time
        ) and a.status=0
        ORDER BY a.menu_id,a.publish_time DESC
    </select>

    <select id="existsTop" parameterType="java.lang.Integer" resultType="boolean">
        SELECT count(1)
        FROM t_news
        where is_top = #{isTop}
    </select>

</mapper>