<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzw.micro.wq.mapper.SysStaffMapper">
    <resultMap id="BaseResultMap" type="com.dzw.micro.wq.model.SysStaffEntity">
        <id column="staff_id" jdbcType="BIGINT" property="staffId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pass" jdbcType="VARCHAR" property="pass"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="positions" jdbcType="VARCHAR" property="positions"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        staff_id
        , name, user_name,pass, phone, id_card, positions, status, create_time, create_user,
    update_time, update_user
    </sql>
    <select id="findList" parameterType="com.dzw.micro.wq.req.SelectStaffReq" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_staff
        where 1=1
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="idCard != null">
            and id_card = #{idCard,jdbcType=VARCHAR}
        </if>
        <if test="positions != null">
            and positions = #{positions,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findOneByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_staff
        where user_name = #{userName}
    </select>

    <select id="findOneByStaffId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_staff
        where staff_id = #{staffId}
    </select>

    <update id="update" parameterType="com.dzw.micro.wq.model.SysStaffEntity">
        update t_sys_staff
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pass != null">
                pass = #{pass,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="positions != null">
                positions = #{positions,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.dzw.micro.wq.model.SysStaffEntity">
        insert into t_sys_staff (staff_id, name, user_name,
                            pass, phone, id_card, positions, status,
                            create_time, create_user, update_time, update_user)
        values (#{staffId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
                #{pass,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{positions,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER},
                #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
                #{updateUser,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByStaffId" parameterType="java.lang.Long">
        delete
        from t_sys_staff
        where staff_id = #{staffId}
    </delete>
</mapper>